/* Reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	box-sizing: border-box;
}

html, body {
	font-family: 'roboto', sans-serif;
	position: relative;
}

a {
	text-decoration: none;
	color: #474747;
}

/* Login */

.login {
	width: 100%;
	height: 100vh;
	min-height: 260px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
}

/* Form Login */

.form-login {
	max-width: 320px;
	margin: auto;
	position: relative;
	box-shadow: 0 2px 5px 2px #ddd;
	border-radius: 5px;
	padding: 2rem;
	background-color: #fff;
}

	.form-login input {
		width: 100%;
		height: 40px;
		margin-bottom: 1rem;
		padding-left: .2rem;
		border-bottom: #dedede solid 1px;
	}

	.form-login button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
		background-color: #999;
		color: #fff;
		padding: .75rem 2rem;
		border-radius: 5px;
		cursor: pointer;
		font-size: 1rem;
		transition: all .2s;
	}

	.form-login button:hover,
	.form-login button:active {
		background-color: #474747;
	}

/* Alert */

.alert {
	width: 100%;
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

	.alert.alert-success {
		background-color: green;
	}

	.alert.alert-error {
		background-color: red;
	}

/* Alert Button */

.alert button {
	outline: 0;
	padding: 2px;
	margin-right: 10px;
	background-color: transparent;
	cursor: pointer;
	color: #fff;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}